{% extends 'base.html' %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data Magang Mahasiswa</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
        Selamat Datang {% if user.is_authenticated %}{{request.user}}{%endif%} di {{APP_NAME|safe}}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
});

</script>

{% endblock %}