{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Data Magang Mahasiswa</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="dt-responsive table-responsive">
                            <form action="" method="post" id="add_data_magang" name="form_add_data_magang" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="panel-group accordion" id="accordion1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Tambah <i class="fas fa-plus"></i></a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse {% if edit %} show {% endif %}">
                                            <div class="panel-body">
                                                <div class="form-body">
                                                    <div class="form-group" style="padding:0 15% 0 15%;">
                                                        {{form|crispy}}
                                                        <input type="submit" form="add_data_magang" name="form_add_data_magang" class="btn btn-success" value="Simpan">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <table id="simpletable" class="table table-bordered nowrap" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama</th>
                                    <th>Asal Univ</th>
                                    <th>Kontak</th>
                                    <th>Periode Magang</th>
                                    <th>Nama Proyek</th>
                                    <th>Pembimbing</th>
                                    <th>Status</th>
                                    <th>Keterangan</th>
                                    <th>Input</th>
                                    <th>Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in magang_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ d.nama }}</td>
                                    <td>{{ d.asal_universitas }}</td>
                                    <td>
                                        <ul>
                                            <li>email: {{ d.email }}</li>
                                            <li>No HP: {{ d.no_hp }}</li>
                                        </ul>
                                    </td>
                                    <td>{{ d.tanggal_mulai}} s/d {{ d.tanggal_selesai }}</td>
                                    <td>{{ d.proyek_magang }}</td>
                                    <td>{{ d.pembimbing }}</td>
                                    <td>{{ d.get_status_magang_display }}</td>
                                    <td>{{ d.keterangan }}</td>
                                    <td>
                                        <ul>
                                            <li>Diinput oleh: {{d.created_by}}</li>
                                            <li>Pada: {{d.created_at}}</li>
                                            <li>Terakhir update: {{d.updated_at}}</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_magang' d.id %}" class="btn btn-warning edit-button">Edit</a>
                                        <a href="" class="btn btn-danger hapusItem">Hapus</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
    {% if edit %}
    $('#id_tanggal_mulai').val('{{magang_edit.tanggal_mulai|date:"Y-m-d"}}');
    $('#id_tanggal_selesai').val('{{magang_edit.tanggal_selesai|date:"Y-m-d"}}');
    {% endif %}
});

</script>

{% endblock %}